* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1f2937;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    color: #f9faf8;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}